body {
    margin: 0;
}

.dropbtn {
    background-color: #FFF;
    color: #DC143C;
    font-size: 25px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 1;
}

.dropdown-content a {
    color: #000;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {color: #DC143C;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFF;
}